/*
Color Palette
Link Blue: #005ECC
Background Blue: #D2F2FF
Logo Orange: #FF3B00
*/

/* Animations */

.slideIn {
    max-height: 272px;
    outline-width: 1px;
    padding-bottom: 8px;
}

.slideOut {
    max-height: 0;
    outline-width: 0px;
}

.slideIn, .slideOut {
    overflow-y: hidden;
    transition: max-height 0.4s ease-in-out, outline-width 0.4s ease-in-out;
}


/* Combos */
.contactFormGrid label {
    margin-left: 16px;
}

.headerGrid div * {
    margin-bottom: 4px;
}

.projectSection h4:not(:first-of-type) {
    margin: 32px 16px 16px 16px;
}


/* Grids */

.mainContentGrid {
    background-color: white;
    display: inline-grid;
    margin: 0px 8px 0px 8px;
    outline: 1px solid black;
}

.headerGrid {
    background-color: #EBECF0;
    display: inline-grid;
    grid-gap: 12px;
    height: 127px;
    border-bottom: 1px solid black;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}

.header1 {
    grid-column: 1;
    padding-left: 16px;
    position: relative;
}

.header2 {
    grid-column: 3;
    min-width: 400px;
    position: relative;
    right: 20px;
}

.contactLinksGrid {
    bottom: 0;
    display: inline-grid;
    grid-gap: 12px;
    grid-template-columns: 1fr 1fr 1fr;
    position: absolute;
    right: 0;
    width: 175px;
}

.contactFormGrid {
    background-color: white;
    display: inline-grid;
    grid-gap: 12px;
    grid-template-columns: 50fr 1fr;
    margin: 140px 8px 8px 8px;
    outline-color: black;
    outline-style: solid;
}

.contactFormTitle {
    grid-row: 1;
    margin: 4px 0px 0px 16px;
}

.contactFormXIcon {
    cursor: pointer;
    grid-row: 1;
    height: 30px;
    padding-right: 4px;
    width: 30px;
}

.emailFormGrid {
    display: inline-grid;
    grid-gap: 12px;
    grid-template-columns: 3fr 7fr;
}


.sendersMessageLabel {
    grid-column: 1;
    grid-row: 1;
}

.sendersMessage {
    grid-column: 2;
    grid-row: 1;
}

.sendersEmailLabel {
    grid-column: 1;
    grid-row: 2;
}

.sendersEmail {
    grid-column: 2;
    grid-row: 2;
    max-height: 1.5em;
    max-width: 256px;
}

.sendEmailDiv {
    grid-column: 2;
    grid-row: 3;
}

.sendEmailButton {
    margin-right: 8px;
}


/* Single Classes */
.emailHeader {
    margin-top:20px
}

.emailFooter {
    margin-top:8px
}

.emailIcon {
    cursor: pointer;
    height: 48px;
    width:48px;
}

.footerContent {
    margin-top: 8px;
    text-align: center;
}

.footerBadges {
    display: inline-block;
    height: 32px;
    width: 96px;
}

.githubLogo {
    height: 40px;
    width: 40px;
}

.linkedinLogo {
    height: 48px;
    width: 48px;
}

.pageTitle {
    bottom: 0;
    color: #FF3B00;
    font: 64px 'Arizonia', serif;
    position: absolute;
}

.statusError {
    color: rgb(216, 0, 0);
}

.statusSuccess {
    color:rgb(0, 216, 0);
}

.values {
    color: #000F4C;
    font: 32px 'Open Sans', serif;
    margin: 16px 8px 8px 16px;
    text-align: center;
}


/* Tags */

a img {
    max-height: 100%;
    max-width: 100%;
}

a:link {
    color: #0033FF;
}

a:visited {
    color: #0024B2;
}

body {
    background-color: #EBECF0;
    margin:0;
}

button {
    border-radius: 4px;
    font-family: 'Open Sans';
    height: 30px;
    width:100px;
}

h1 {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

h4 {
    color: #000F4C;
    font: 24px 'Merienda One', serif;
}

input, label, p, textarea {
    font: 16px 'Open Sans', sans-serif;
}

section h4, section p {
    margin: 16px;
}

textarea {
    resize: none;
}

/* Utilities */

.hidden {
    display: none;
}

/* Media Queries */
@media only screen and (max-width: 549px) {
    input, label, textarea{
        font-size: 14px;
    }
}

@media only screen and (max-width: 496px) {
    input, label, textarea {
        font-size: 12px;
    }
}


@media only screen and (max-width: 429px) {
    .contactLinksGrid {
        grid-gap: 8px;
        width: 125px;
    }
    .emailIcon {
        cursor: pointer;
        height: 40px;
        width:40px;
    }
    .githubLogo {
        height: 33px;
        width: 33px;
    }

    .header2 {
        min-width: 300px;
        right: 20px;
    }

    .linkedinLogo {
        height: 40px;
        width: 40px;
    }

    .pageTitle {
        font-size: 56px;
    }

}

@media only screen and (max-width: 349px) {
    .header2 {
        min-width: 300px;
        right: 30px;
    }

    .pageTitle {
        font-size: 48px;
    }

}

