/* Grids */

.contentGrid {
    display: inline-grid;
}

.headerGrid {
    border-bottom: 1px solid black;
    display: inline-grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-gap: 10px;
}

.header1 {
    grid-column: 1;
    padding-left: 16px;
}

.header2 {
    grid-column: 3;
    text-align: right;
}

.header3 {
    grid-column: 4;
}

.header2, .header3 {
    font: 16px serif;
}

.footerGrid {
    display: inline-grid;
}

/* Utilities */

.alwaysFullWidth {
    width: 100%;
}

/* Single Classes */

.headerGrid div * {
    margin-bottom: 5px;
}

.pageTitle {
    font: 64px 'Arizonia', serif;
}

