/*
Color Palette
Royal Blue (links): #005ECC
Heather Blue: #4C6F99
Vibrant Blue: #05FCFF
Vibrant Orange: #FF3B00
Ligh Red: #CC2718
*/

/* Grids */

.contentGrid {
    display: inline-grid;
}

.headerGrid {
    border-bottom: 1px solid black;
    display: inline-grid;
    height: 127px;
    grid-template-columns: 2fr 1fr 1fr;
    grid-gap: 10px;
}

.header1 {
    grid-column: 1;
    padding-left: 16px;
}

.header2 {
    grid-column: 3;
    position: relative;
    right: 20px;
}

.contactLinksGrid {
    bottom: 0;
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    font: 16px serif;
    position: absolute;
}

.footerGrid {
    display: inline-grid;
}

/* Utilities */

.alwaysFullWidth {
    width: 100%;
}

/* Single Classes */

.headerGrid div * {
    margin-bottom: 5px;
}

.pageTitle {
    color: #FF3B00;
    font: 64px 'Arizonia', serif;
}

/* Tags */

a {
    color: #005ECC;
}

h1 {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}